==========================================

Бэкенд (Python, FastAPI, SQLite)

==========================================

Кэш питона

pycache/
*.py[cod]
*$py.class

Виртуальные окружения

venv/
.venv/
env/
.env/

База данных

ВАЖНО: Мы не коммитим БД, чтобы не слить в сеть реальных пользователей и пароли

database.db
*.sqlite
*.sqlite3

==========================================

Фронтенд (React Native, Expo)

==========================================

Тяжелая папка с библиотеками (скачивается заново через npm install)

node_modules/

Папки сборки и кэш Expo

.expo/
dist/
web-build/

Логи ошибок npm/yarn

npm-debug.log*
yarn-debug.log*
yarn-error.log*
expo-debug.log*

==========================================

Системные файлы и редакторы (VS Code, Windows, Mac)

==========================================

.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini

Файлы с секретными ключами (если появятся)

.env
.env.local